.DS_Store
front-end/node_modules/
front-end/bower_components/
front-end/dist/
front-end/npm-debug.log*
front-end/yarn-debug.log*
front-end/yarn-error.log*

back-end/node_modules/
back-end/dist/
back-end/npm-debug.log*
back-end/yarn-debug.log*
back-end/yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
